::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Open Sans';
}

.navbar {
  padding: 0 !important;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
}

.navbar-toggler {
  border-color: transparent !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.search-help {
  background-color: #ffffff !important;
}

.search-help a {
  color: #c9c9c9;
}

.search-help a:hover {
  color: #8c4242;
}

.nav-link {
  font-size: 18px;
}

.nav-item:hover {
  background-color:  #b00000;
}

.nav-link.dropdown-toggle {
  color: white !important;
}

.body-container {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.recipe-card {
  height: 230px;
  background-size: cover;
  background-position: center;
}

.recipe-card-content:hover {
  background: rgba(0,0,0,.5);
}

.recipe-card-title {
  font-size: 22px;
}

.recipe-card-tags {
  z-index: 2;
}

.recipe-card-tags a, .recipe-details-tags a {
  text-decoration: none;
}

.recipe-card-tag, .recipe-details-tag {
  /* font-size: 13px; */
  border-style: solid;
  border-width: 1px;
  border-color: #960000;
  background-color: #fa9d9d;
  color: #960000;
}

.recipe-card-tag {
  font-size: 13px;
}

.recipe-details-tag {
  font-size: 16px;
}

.recipe-card-tags a::after, .recipe-details-tags a::after {
  content: "";
  margin-left: 3px;
}

.recipe-card-tag:hover, .recipe-details-tag:hover {
  background-color: #b87474;
}

.recipe-card-tag.vegetarian, .recipe-details-tag.vegetarian {
  border-color: #007d1b;
  background-color: #9dfab3;
  color: #007d1b;
}

.recipe-card-tag.vegetarian:hover, .recipe-details-tag.vegetarian:hover {
  background-color: #7cc48d;
}

.recipe-card-tag.quick-meal, .recipe-details-tag.quick-meal {
  border-color: #676900;
  background-color: #faf89d;
  color: #676900;
}

.recipe-card-tag.quick-meal:hover, .recipe-details-tag.quick-meal:hover {
  background-color: #c9c87f;
}

.recipe-card-tag.blue-apron, .recipe-details-tag.blue-apron {
  border-color: #0f346c;
  background-color: #9facf5;
  color: #0f346c;
}

.recipe-card-tag.blue-apron:hover, .recipe-details-tag.blue-apron:hover {
  background-color: #7a85bf;
}

.recipe-card-tag.hello-fresh, .recipe-details-tag.hello-fresh {
  border-color: #2e3d0a;
  background-color: #91c11e;
  color: #2e3d0a;
}

.recipe-card-tag.hello-fresh:hover, .recipe-details-tag.hello-fresh:hover {
  background-color: #6a8c16;
}

.recipe-details-title {
  font-size: 30px;
  font-weight: 500;
}

.recipe-details-download {
  color: #c9c9c9;
}

.recipe-details-download:hover {
  color: #8c4242;
}

.recipe-details-image {
  background-size: cover;
  background-position: center;
}

.details-section-title {
  font-size: 19px;
  font-weight: 600;
  color: #960000;
  letter-spacing: 0.1em;
}

.info-item-icon {
  color: #8c4242;
}

.info-item-heading {
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #960000;
}

.notes-list, .ingredients-list {
  margin-bottom: 0;
}

.notes-list-item, .ingredients-list-item {
  list-style-position: inside;
}

.recipe-details-description {
  line-height: 2;
}

.recipe-details-image {
  min-height: 150px;
}

.directions-item-title {
  font-size: 18px;
  letter-spacing: 0.04em;
}

.login-header {
  background-color: #960000;
}

.code-tag {
  background-color: #E2E1DF;
  color: #212529;
}

.form-title {
  color: #960000;
  /* letter-spacing: 0.1em; */
}

.image-upload-container {
  height: 200px;
}

.btn.add-image-btn {
  z-index: 1;
  color: #fff;
  border-color: #00000000;
  background-color: #3e3e3e70;
}

.btn.add-button-btn:hover {
  color: #fff !important;
}

.image-container {
  height: 200px;
  border-color: #ced4da !important;
  background-size: cover;
  background-position: center;
}

.invalid-image {
  border-color: red !important;
}

/* Bootstrap overrides */
.btn-primary {
  background-color: #960000 !important;
  border-color: #710000 !important;
}
