{% extends "layout.html" %}

{% block title_container %}
<title>Salt To Taste</title>
{% endblock %}

{% block body_container %}
<div class="container-fluid mt-1">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 no-gutters">
    {% for recipe in recipes %}
    <div class="col">
      <div class="bg-dark mb-1 mr-1 rounded recipe-card" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0), rgba(0,0,0,1)), url('{{ url_for('main.image_path', filename=recipe.image_path) }}');">
        <div class="d-flex flex-column justify-content-end h-100 rounded recipe-card-content">
          <div class="pt-1 px-1 recipe-card-title">
            <a href="{{ url_for('main.recipe', recipe_link=recipe.title_formatted) }}" class="stretched-link text-decoration-none">
              <p class="m-0 p-0 text-decoration-none text-white clampThis">{{ recipe.title }}</p>
            </a>
          </div>
          <div class="ml-1 mb-1 recipe-card-tags">
            {% for tag in recipe.tags %}
            <a onclick="tagSearch('tag:{{ tag }}')" href="#">
              <span class="px-1 rounded recipe-card-tag {{ tag | replace (' ', '-') }}">
                {% if tag == 'vegetarian' %}
                <i class="fas fa-leaf"></i> {{ tag.title() }}
                {% elif tag == 'quick meal' %}
                <i class="fas fa-stopwatch"></i> {{ tag.title() }}
                {% else %}
                  {{ tag.title() }}
                {% endif %}
              </span>
            </a>
            {% endfor %}
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
