{% extends "layout.html" %}

{% block title_container %}
  <title>Salt To Taste</title>
{% endblock %}

{% block body_container %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
      </div>
    {% endif %}
  {% endwith %}
  <table>
    <tr>
      <th>Username</th>
      <th>Role</th>
    </tr>
    {% if users %}
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>-</td>
        <td>-</td>
      </tr>
    {% endif %}
  </table>
  <form action="/signup" method="post">
    Add user:
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <select name="role">
      {% if users %}
        <option value="read-only">Read-Only</option>
        <option value="admin">Admin</option>
      {% else %}
        <option value="owner">Owner</option>
        <option value="read-only" disabled>Read-Only</option>
        <option value="admin" disabled>Admin</option>
      {% endif %}
    </select>
    <input type="submit">
  </form>
  <form class="" action="/signup" method="post">
    Require account to access: <input type="checkbox" name="loginToView">
    <input type="submit" value="Save">
  </form>
  </form>
{% endblock %}
